<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 600px;">
        <h3 class="text-center mb-4">상품 등록</h3>
        <form th:action="@{/product/save}" th:object="${product}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">상품명</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">상품 설명</label>
                <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
                <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">가격 (원)</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" >
                <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            </div>

            <div class="mb-3">
                <label for="stockQuantity" class="form-label">재고 수량</label>
                <input type="number" class="form-control" id="stockQuantity" th:field="*{stockQuantity}">
                <div class="text-danger" th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}"></div>
            </div>

            <div class="mb-3">
                <label for="status" class="form-label">상품 상태</label>
                <select class="form-select" id="status" th:field="*{status}">
                    <option value="AVAILABLE">판매중</option>
                    <option value="SOLD_OUT">품절</option>
                    <option value="DISCONTINUED">단종</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">카테고리</label>
                <input type="text" class="form-control" id="category" th:field="*{category}">
            </div>

            <div class="d-flex justify-content-between mt-4">
                <a class="btn btn-secondary w-50 me-2" th:href="@{/product/list}">목록으로</a>
                <button type="submit" class="btn btn-success w-50">상품 등록</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
